
<nav class="">
    <div class="nav-div">
        <div class="">
            <span class="navbar-brand mb-0 h1">Logo</span>
        </div>
        <div class="nav-content">
            <div class="nav-item"><a routerLink="/" routerLinkActive="active">Home</a></div>
            <div class="nav-item"><a routerLinkActive="">Contact Us</a></div>
            <div class="nav-item"><a routerLinkActive="">About Us</a></div>
            <div class="nav-btn"><button class="btn talk-btn">Lets Talk 👋🏾</button></div>
        </div>
    </div>
</nav>

<div>
    <app-content></app-content>
</div>